<section class="landing-intro">
	<div class="landing-logo">
		<div class="row">
		<div class="small-6 small-centered columns">
		<%= image_tag "logo6.png", :class => "altuslogo img-responsive"%>
		</div>
		</div>
	</div>
</section>

<section class="black-box">
	<p> blah blah blah</p>
	
</section>

<section class="about">
	<div class="row">
		<div class="medium-6 columns">
			<%= image_tag "gaycar.jpg", :class => "concept-car img-responsive"%>
		</div>

		<div class="medium-6 columns">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>
</section>